/* 样式重置 */
body, ul, p, h1, h2, h3, h4, dl, dd, form, input, textarea, select {
    margin: 0;
    padding: 0;
    /* 默认英文字体 */
    font-family: Arial;
}

li{
    list-style: none;
}

img{
    border: none;  /* 解决图片下方自带边距问题 */
    display: block;
}

a{
    text-decoration: none;
}  

