<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>姓名案例(computed)</title>
        <script src="./js/vue.js"></script>
    </head>
    <body>
        <div id="_name">
            姓: <input type="text" v-model="last_name"> <br>
            名: <input type="text" v-model="first_name"> <br>
            <p>全名：{{fullName}}</p>
            <p>全名：{{fullName}}</p>
            <p>全名：{{fullName}}</p>
            <p>全名：{{fullName}}</p>
        </div>
        <script>
            Vue.config.productionTip = false
            // 创建一个vue实例
            var vm = new Vue({
                el: '#_name',
                data: {
                    last_name: 'Sunaokami',
                    first_name: 'Shiroko'
                },
                // 计算属性 computed 带有缓存功能
                // 定义: 要用的属性不存在, 要通过已有属性计算得到
                // 原理: 底层借助Object.defineProperty()方法, 为对象添加属性, 并为属性添加getter和setter
                        // get什么时候执行
                        // 1. 初次读取一次
                        // 2. 依赖的属性值发生变化时
                // 作用: 用于计算属性, 依赖其他属性值, 只有当依赖的属性值发生变化时, 才会重新计算
                computed: {
                    fullName: {
                        get: function() {
                            console.log('get被调用了')
                            return this.last_name + '-' + this.first_name
                        },
                        set: function(value) {
                            console.log('set被调用了', value)
                            var arr = value.split('-')
                            this.last_name = arr[0]
                            this.first_name = arr[1]
                        }
                    }
                }
            })
        </script>
    </body>
</html>